[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Takao
	email = k.takao@neogenia.co.jp
[color]
	ui = true
[alias]
	br = branch
	co = checkout
	st = status -s
	cp = cherry-pick
	gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	undo = reset --soft HEAD^
	brl = branch -a
	cp = cherry-pick
	ci = commit -m
[core]
	pager = LESSCHARSET=utf-8 less
	quotepath = false
	editor = vim
[rebase]
	autostash = true
	autosquash = true
