.cm-s-obsidian span.cm-inline-code {
    color: var(--code-normal);
    font-size: var(--code-size);
    background-color: var(--tag-background);
    border-radius: 0.4em;
    padding: 0.2em 0.4em;
    vertical-align: baseline;
}

.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock {
    padding-left: var(--size-4-4);
    color: var(--code-normal);
    background-color: var(--tag-background);
    margin: 0.2rem,0;
}
